body {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 25%,
    rgba(64, 9, 121, 1) 63%,
    rgba(0, 212, 255, 1) 93%
  );
}
#header {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 25%,
    rgba(121, 9, 38, 0.21048062865497075) 63%,
    rgba(0, 212, 255, 1) 93%
  );
}

.concert-c {
  font-weight: bolder;
}

.concert-img {
  max-width: 305px;
}

.imgClass {
  max-width: 305px;
}
